body {
  background: url(images/NZ.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1  {
  color:white;
  text-align:right;
}

h2  {
  color:white;
  text-align:right;
}


h3  {
  color:white;
  text-align:right;
}

h4 {
  color: white;
  font-weight: 500;
  text-align:right;
}

h5 {
  color:white;
  font-weight:500;
  font-style:italic;
  text-align:right;
}

a:link{
  color:#00D5FF;
}

a:visited{
  color:#00D5FF;
}