body {
  background: url(images/NZ.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  color:white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
  font-weight: 500;
  text-align:left;
}

h5 {
  color:white;
  font-weight:500;
  font-style:italic;
}

a:link{
  color:SpringGreen;
}

a:visited{
  color:#00D5FF;
}