body {
  background:
      linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(images/CoalTruck.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  text-align:right;
  color:white;
  font-weight:500;
}

h4 {
  font-size:105%;
  color: white;
  font-weight: 700;
  text-align:right;
}

a:link{
  color:SpringGreen;
}