body {
  background-image: url(images/NZ.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

h1 {
  color: white;
  position:relative;
  right:3vw;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
  font-weight: 500;
  text-align:left;
  position: relative;
  right:3vw;
}