body {
  background-image: url(images/NZ.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
  font-weight: 500;
  text-align:left;
}